.navigatorHeader {
  width: 100%;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigatorHeader .recharge {
  width: 2.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigatorHeader .url {
  width: calc(100% - 2.5rem);
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  border-radius: 2rem;
}

.navigatorHeader .security {
  width: 3rem;
  height: 100%;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigatorHeader .link {
  width: calc(100% - 3rem);
  height: 100%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.navigatorHeader svg {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navigatorHeader svg:hover {
  transform: scale(1.1);
}